.container {
    position: absolute;
    border-radius: 3px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    width: 30%;
    max-width: 400px;
    margin-left: calc(100vh - 70vh);
    margin-right: auto;
    margin-top: calc(100vh - 80vh);
}

.container-selector {
    background-color: rgba(255, 255, 255, 0.9);
}

::deep button.confirm-button {
    margin-top: 10px;
    background-color: red;
    color: white;
    margin: 5px;
}

.title {
    font-size: large;
}