<div class="container">
    @if (_loading)
    {
        <Loader></Loader>
    }
    else
    {
        <iframe src="Whos20that20Pokemon.mp3" allow="autoplay" id="audio" style="display:none"></iframe>

        <WhosThatPokemonData PokemonId="_pokemonData.Id" PokemonName="@_pokemonData.Name" Show="_showResult"></WhosThatPokemonData>
        
        <div class="container-selector">
            <PokemonSelector @ref="_pokemonSelector"></PokemonSelector>

            <MudButton @onclick="Confirm" class="confirm-button" Variant="Variant.Filled">Confirm</MudButton>

            <WhosThatPokemonResult Correct="_correct" Show="_showResult"></WhosThatPokemonResult>

            <MudButton class="confirm-button" Variant="Variant.Filled" @onclick="ShowNextAsync">Show Next</MudButton>
        </div>
    }
</div>